/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ml-content {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.ml-title {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.ml-container{
  display: flex;
  margin: 20px 0px;
}

.ml-left-block{
  margin-right: 20%;
}

.ml-right-block{
  width: 50%;
}

.mat-button.mat-primary {
  background-color: grey;
}
