<mat-sidenav-container class="sidenav-container">
<mat-toolbar color="primary">
  <img class="icon" src="assets/img/ml-icon.png">
  <span>ML Competition</span>
  <span class="fill-space"></span>
  <div>
    <a mat-button [routerLink]="['/competition']">Register</a>
    <a mat-button [routerLink]="['/competition/ranking']">Ranking</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar color="primary">
    <img class="icon" src="assets/img/ml-icon.png">
    <span>ML Competition</span>
  <span class="fill-space"></span>
  <button mat-button>Developed by Víctor Escudero</button>
</mat-toolbar>
</mat-sidenav-container>
