<div class="ml-content">
  <h1>Exercise 1: Cognitive Services - Face API</h1>

  <p>In this first part of the workshop we will be looking into Microsoft Cognitive Services. First of, we will be using the Face API,
    where we will post an image of a person to a REST-api and get back a result containing information related to the persons emotions, as perceived by the AI.</p>

  <p><em>Notice</em>: This exercise requires node >= 6.9 and npm. If you don't have this already installed. Download and install it first
    <a href="https://nodejs.org/en/download/" target="_blank">node and npm</a>.</p>

  <h2 id="objectives">Objectives</h2>

  <ol>
    <li>Obtain your Face API Key</li>
    <li>Take a selfie and handle the result, displaying the <em>emoji</em> that best reflects
      the emotion returned by the Face API (<em>e.g. angry emoji for</em> <code>anger</code>)</li>
  </ol>

  <h2>1. Setup</h2>

  <ol>
    <li>Download the following repository for this exercise: <a href="https://github.com/vescuderorusillo/ml-workshop" target="_blank">ML Workshop</a>.</li>

    <li>Got to <a href="https://azure.microsoft.com/es-es/services/cognitive-services/" target="_blank">Azure Cognitive Services</a>.</li>

    <li>Select Face APIs and click the Get API Key button.</li>

    <li>Agree to the terms and click next.</li>

    <li>If prompted, sign in with your account.</li>

    <li>A popup will welcome you and let you know you have 7 days to try out the Face APIs for free.</li>

    <li>Click the "Got it" button</li>

    <li>You should now be presented with 2 keys and a URL. Copy one of the keys and the url and paste it into the
      <code>src/app/shared/face.service.ts</code> file in the Angular source folder, replacing the
      <code>subscriptionKey</code> and <code>uriBase</code>.</li>
  </ol>

  <p>Now that you have configured your API key we are ready to try out some artificial intelligence.</p>

  <h2>2. Run the application.</h2>

  <ul>
    <li>Navigate to the base folder in a terminal and type <code>ng serve -o</code></li>
    <li>This should install the required packages and run the web site on localhost:4200</li>
    <li>Allow the site to use web camera.</li>
    <li>Capture a selfie and watch the results.</li>
  </ul>

  <h2 id="4code">4. Code</h2>

  <p>You can search the TODOs in the application code to find the places you need to code in.</p>

  <p>The exercise is to parse Face API result and show the correct smiley for the emotion.
  Look at the <em>shoot-face.component.ts</em> and <em>emoji.service.ts</em> files to get started.</p>

  <p>Good luck!</p>
</div>
