.shoot-face-body {
  margin: 0 100px;
}

.left{
  float: left;
}

.right{
  float: left;
  margin-left: 15px;
}

pre {
  padding: 10px;
  background-color: #f1f1f1;
  width: 100%;
  margin: 0;
  font-size: 12px;
  font-family: 'Consolas';
  color: 111;
  text-align: left;
}
